.page-navigation{
	background-color:#000066;
    height: 50px;
}

.page-navigation ul {
 list-style: none;
}

.page-navigation ul li {
	padding: 0 15px;
    float: left;
    line-height: 50px;
}

.page-navigation  ul li a {
	color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.page-navigation  ul li a:hover{
	color: #666699;
    text-decoration: underline;
}
.index-title{
	color:#000099;
}
.video-title{
	color:#FF0000;
}
.links-title li a{
	color:#FF33CC;
}